<% if logged_in? %>


          <div class="row">
            <div class="col-md-12">
              <!--    Striped Rows Table  -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2><%= t('macro_new')%></h2>
                </div>
                <div class="panel-body">

                  <div name="creaMacro">

                    <%= form_for(macros_crear_path) do |f| %>

                      <div class="form-group">
                        <%= f.label t('name') %><br>
                        <%= f.text_field :nombre, class: "form-control" , :required => true%>
                      </div>
                      <div class="form-group">
                        <%= f.label t('version') %><br>
                        <%= f.text_field :version,  class: "form-control", :required => true %>
                      </div>

                      <div class="form-group">
                        <%= f.label t('manufacturer') %><br>
                        <%= f.text_field :fabricante,  class: "form-control" , :required => true%>
                      </div>
                      <div class="form-group">
                        <%= f.label t('os_version') %><br>
                        <%= f.text_field :osversion,  class: "form-control" , :required => true%>
                      </div>

                      <div class="form-group">
                        <%= f.label t('serie') %><br>
                        <%= f.text_field :serie,  class: "form-control" , :required => true%>
                      </div>
                      <div class="form-group">
                        <%= f.label t('model') %><br>
                        <%= f.text_field :modelo,  class: "form-control" , :required => true%>
                      </div>

                      <div class="field">
                        <%= f.hidden_field :num_commands, value: 0 %>
                      </div>
                      <button class="btn btn-primary" type="button" id="moreCommands"><i class="fa fa-plus-circle" aria-hidden="true"><%= t('command_list')%></i></button>
                      <div id="commands_list">

                      </div>
                      <div class="form-group">
                        <%= f.hidden_field :num_inputs, value: 0 %>
                      </div>

                      <button class="btn btn-primary" type="button" id="moreInputs"><i class="fa fa-plus-circle" aria-hidden="true"> <%= t('parameters')%></i></button>

                      <div id="inputs_list">

                      </div>


                        </br></br>
                        <div class="actions">
                          <%= f.submit "Create Macro", class: "btn btn-lg btn-danger" %>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>



      </div>
    </div>

  <script src="/assets/js/macros.js"></script>

  <!--  End  Striped -->
<% end %>

